<!-- 
  Author: Abhishek Sarkar
  Date: 17-04-2020
 -->
<footer class="footer">
  <div class="container-fluid">
    <nav>
      <ul>
        <li>
          <a href="https://www.facebook.com/skillassurediscoveri/" target="blank">
            <i class="fab fa-facebook-square fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-github-square fa-2x"></i>
          </a>
        </li>


        <!-- TODO: ADD the links for Social Media -->
        <!-- Classes Required: "fab fa-twitter-square fa-2x", "fab fa-linkedin fa-2x" -->
        <li>
          <a href="#">
            <i class="fab fa-twitter-square fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/skillassure"target="blank">
            <i class="fab fa-linkedin fa-2x"></i>
          </a>
        </li>
        
      </ul>
    </nav>

    
    <div class="copyright">
      <!-- TODO: Add the Copyright Information for Skill Assure -->
      &copy;
      copyright by,
      <a href="http://www.skillassure.com" target="blank">skillassure.pvt ltd</a>
    </div>
  </div>
</footer>
